{% extends "base.html" %}
{% load humanize %}
{% block content %}
    <h1>Agent Dashboard</h1>
    <figure>
        <table role="grid">
            <thead>
                <tr>
                    <th>Fav</th>
                    <th>Agent Name</th>
                    <th>Total Vol (12mo)</th>
                    <th>Total Sides (12mo)</th>
                    <th>Sell Sides</th>
                    <th>Buy Sides</th>
                    <th>Churn Risk</th>
                </tr>
            </thead>
            <tbody>
                {% for agent in page_obj %}
                    <tr>
                        <td>
                            {% if agent in user.favorite_agents.all %}
                                <a href="{% url 'remove-favorite' agent.mls_id %}">★</a>
                            {% else %}
                                <a href="{% url 'add-favorite' agent.mls_id %}">☆</a>
                            {% endif %}
                        </td>
                        <td><a href="{% url 'agent-detail' agent.mls_id %}">{{ agent.agent_name }}</a></td>
                        <td>${{ agent.agentstats.sales_volume_12mo|default:0|floatformat:0|intcomma }}</td>
                        <td>{{ agent.agentstats.sales_count_12mo|default:0 }}</td>
                        <td>{{ agent.agentstats.sell_side_count_12mo|default:0 }}</td>
                        <td>{{ agent.agentstats.buy_side_count_12mo|default:0 }}</td>
                        <td>{{ agent.agentstats.churn_risk_score|default:0 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </figure>
    
    <nav>
        <ul>
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">previous</a></li>
        {% endif %}
        </ul>
        <ul><li>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</li></ul>
        <ul>
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">next</a></li>
        {% endif %}
        </ul>
    </nav>
{% endblock %}
